.description {
  padding: 0;
}

.description__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0px;
  max-width: 830px;
  margin-bottom: 40px;
  margin-top: 0;
}

.description__column {
  width: 484px;
  max-width: 100%;
}

.description__column-right {
  width: 484px;
}

.description__quote {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 8px;
  max-width: 100%;
  height: 68px;
}

.description__author {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  margin: 0 0 40px 0;
  max-width: 100%;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.description__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .description__title {
    font-size: 48px;
    line-height: 1.1;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
