.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Garante que Título e Texto comecem na esquerda */
  max-width: 984px;
  margin: 0 auto;
  padding: 160px 24px 0;
  box-sizing: border-box;
}

.description__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
  max-width: 830px;
  text-align: left;
}

.description__column {
  width: 100%;
  max-width: 484px;
  margin-left: 0;
}

.description__column-right {
  width: 484px;
}

.description__quote {
  font-size: 24px;
  line-height: 1.22;
  margin-bottom: 8px;
  text-align: left;
}

.description__author {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 32px;
  display: block;
  text-align: right;
}

.description__text {
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .description__title {
    font-size: 48px;
    line-height: 1.1;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .description__column {
    max-width: unset;
    width: 830px;
  }
}
@media screen and (max-width: 544px) {
  .description {
    padding-top: 60px;
  }

  .description__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
