.header {
  padding: 45px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 14.94px;
  top: 54.26px;
  left: -0.42px;
}
.header__logo {
  width: 176px;
  height: auto;
}
