.image-box {
  flex: 0 0 45%;
  max-width: 460px;
}

.image-box img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .image-box {
    max-width: 100%;
    flex-basis: auto;
  }
}
