.intro {
  padding: 66px 0 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro__title {
  font-size: 96px;
  line-height: 1.05;
  font-weight: 900;
  margin-top: 194px;
  margin-bottom: 32px;
}

.intro__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 64px;
  max-width: 720px;
}

.intro__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 72px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 544px) {
  .intro__title {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 32px;
  }
}
