.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  min-height: 100vh;
}

.content {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 24px;
}
@media screen and (max-width: 544px) {
  .content {
    padding: 0 16px;
  }
}
