@import url("../fonts");

@import url("../vendor/normalize.css");

@import url("../blocks/description.css");
@import url("../blocks/footer.css");
@import url("../blocks/header.css");
@import url("../blocks/intro.css");
@import url("../blocks/page.css");

@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 72px;
    margin-top: 100px;
  }

  .description__title {
    font-size: 48px;
    line-height: 1.1;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 24px 0;
  }
  .header__logo {
    width: 140px;
  }
  .intro__title {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 32px;
  }

  .content {
    padding: 0 16px;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
}
